* {
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    color: purple;
    background-color: dimgray;
    width: 80%;
    margin: 20px auto;
    padding: 50px;
    border-bottom: 5px solid;
    border-color: blue;
    text-align: center;
    box-sizing: border-box;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 900;
  }